@charset "UTF-8";

*{
    margin: 0px auto;
    padding: 0px;
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
}

.top{
    width: 1200px;
    height: 100px;
}

.logo1{
    width: 200px;
    height: 100px;
    float: left;
    background-color: red;
}

.menu{
    width: 1000px;
    height: 100px;
    float: left;
    background-color: orange;
    position: relative;
}

.main{
    width: 800px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: black;
    position: absolute;
    left: 180px;
    top: 30px;
}

.main>li{
    width: 200px;
    height: 40px;
    float: left;
}

.sub>li{
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: gray;
}

.main>li:hover>a{
    color: white;
    background-color: blue;
}

.sub>li:hover>a{
    color: white;
    background-color: skyblue;
}

.sub{
    display: none;
}

.imgslide{
    width: 1200px;
    height: 300px;
    background-color: yellow;
}

.content{
    width: 1200px;
    height: 200px;
}

.no{
    width: 400px;
    height: 200px;
    float: left;
    background-color: green;
}

.ba{
    width: 400px;
    height: 200px;
    float: left;
    background-color: blue;
}

.sc{
    width: 400px;
    height: 200px;
    float: left;
    background-color: darkblue;
}

.bottom{
    width: 1200px;
    height: 100px;
}
.logo2{
    width: 200px;
    height: 100px;
    float: left;
    background-color: purple;
}

.menu2{
    width: 1000px;
    height: 50px;
    float: left;
    background-color: aqua;
}

.copy{
    width: 1000px;
    height: 50px;
    float: left;
    background-color: bisque;
}